.root-container {
    display: flex;
    flex-direction: column;
}

/*#style {
    border: 1px solid black;
    margin: 5px;
}*/

.header {
    background-color: black;
    /*height: 90px;*/
    display: flex;
    align-items: center;
}

.header-left {
    flex: 1;
    text-align: center;
}

.header-right {
    flex: 1;

}

.circle {
    /*margin-left: 150px;*/
    margin-top: 20px;
    color: lightblue;
}

/*.dots {
    margin-left: 30px
}*/

.header h4 {
    margin-top: 5px;
    font-size: larger;
}

.header-images {
    float: right;
    margin-right: 40px;
}

.container2 {
    display: flex;
    flex-direction: column;
}

nav {
    background-color: lightblue;
    text-align: center;
}

#margin {
    margin-top: 2px;
    margin-bottom: 2px;
}

nav.div {
    background-color: black;
    color: white;
    /*height: 45px;*/
    text-align: left;
}

#setting {
    margin: 15px;
}

.container3 {
    display: flex;
    background-image: url(B1.jpg);
    background-size: 100% 100%;
}

.main-left {
    flex: 1;
    margin-left: 20px;
    color: white;
}

.main-right {
    display: flex;
}

.main-text {
    border-bottom: 3px solid lightblue;
}

.main-image {
    float: left;
    margin-right: 20px;
}

.main-image-right {
    float: right;
    margin-left: 20px;
}

.main-text a {
    float: right;
    background-color: black;
    color: lightblue;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    margin-right: 50px;
}

.mainp {
    margin-bottom: 60px;
}

.mainp-other {
    margin-bottom: 60px;
}

.main-footer {
    margin-top: 10px;
    margin-bottom: 45px;
    margin-left: 50px;
}

.main-footer h1 {
    margin-top: 2px;
    margin-bottom: 2px;
}

.main-footer p {
    margin-top: 0px;
}

.sidebox {
    justify-content: end;
    flex: 1;
    display: block;
    width: 200px;
    height: 350px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px;
    background-color: lightblue;
}

.sidebox h4 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: larger;
    font-weight: bolder;
}

.side-c1 {
    display: block;
    margin: 10px;
}

.side-links {
    display: block;
    color: black;
}

.side-c2 {
    margin: 10px;
    justify-content: center;
}

.tags {
    display: inline-block;
    width: 50px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.side-c2 p:hover {
    font-size: 150%;
    font-weight: bold;
}

#searchbox {
    margin-top: 15px;
    border-radius: 50px;
}

.container4 {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.footer {
    background-color: lightblue;
    /*height: 170px;*/
}

.footer-links {
    display: flex;
    margin: 20px;
}

.footer-links a {
    display: block;
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
}

.col1 {
    flex: 1;
}

.col2 {
    flex: 1;
}

.col3 {
    flex: 1;
}

.col4 {
    flex: 1;
}

#right {
    float: right;
    margin-right: 30px;
}

.fline {
    display: flex;
    /*height: 50px;*/
    background-color: black;
    color: chartreuse;
    align-items: center;
}

.fline-left {
    flex: 2;
}

.fline-right {
    flex: 1;
}

.footer-text {
    float: left;
    margin-left: 50px;
}

.footer-images {
    float: right;
    margin-right: 50px;
    font-size: 25px;
}

.footer-images a {
    color: chartreuse;
}

.footer-images a:hover {
    color: red;
}

@media screen and (max-width: 500px) {
    .header {
        flex-direction: column;
    }

    .header-images {
        margin-right: 0px;
    }

    .footer-links {
        flex-direction: column;
    }

    .fline {
        flex-direction: column;
    }

    .footer-text {
        margin-left: 0;
    }
}